docs/
*.log
.DS_Store
target/
.idea/
*.iml

# Autenticação e Credenciais Locais
.env
.env.*
!.env.example
application-dev.yml

# IDEs e Lixos de Compilação
.vscode/
TestPg.*
apache-maven-*/
server_run.log
